extends layout

block content
  h1= title
  form(action = "/api", method = "POST")
    div
      label(for = "fullName") Fullname:
      input(name = "fullName")
    br
    div
      label(for = "phone") Phone Number:
      input(name = "phone")
    br
    div
      label(for = "email") Email:
      input(name = "email")
    br
    div
      label(for = "message") Message:
      input(name = "message")
    br
    button(type = "submit") Send Now
  
  hr
  div
    ul
      for subscription in subscriptions
        li= subscription.fullName + " - " + subscription.email
